:root {
    --primary: #e10085;
    --primary-text: #1e1512;
    --secondary: #702c91;
    --secondary-text: #625b65;
    --blue: #0b7bb8;
    --green: #00853c;
    --red: #da1c17;
    --yellow: #ffab00;
    --tertiary-text: #a5a1a7;
    --light-grey: #f5f5f5;
  }
  
html {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color:var(--primary-text);
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    padding: 0 20px;
    max-width: 1200px;
    min-width: 750px;
    margin:auto;
}

img{
max-width: 100%;
}

p{
font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    color:var(--secondary-text);
}

h1{
    font-size:3rem;
    font-style: normal;
    font-weight: 900;
}

h2{
    font-size:2.75rem;
    font-style: normal;
    font-weight: 900;
}

.component{
    border:5px solid var(--tertiary-text);
    margin:10px;
    padding: 0 10px;
}

.component__name{
    padding-bottom:10px;
    border-bottom:2px solid var(--tertiary-text);
}

.component__code{
    border-top:2px solid var(--tertiary-text);
}

.line{
    border-bottom: 4px solid var(--tertiary-text);
    width: 30px;
    margin: 20px 0;
  }


/**
*Header
**/

.site-name{
    display:block;
}

.navbar{
    background-color: var(--gray-light);
    padding: 0 0.5rem 5rem;
  }
  
nav{
    max-width:100%;
    margin:0 auto;
    padding:0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-top:2px solid var(--tertiary-text);
    border-bottom:2px solid var(--tertiary-text);
  }
  
  .nav-list{
    padding:0;
    margin:0;
    display: flex;
  }
  
  .nav-list__item{
    flex: 0 1 auto;
    margin:0;
    list-style: none;
    padding: 0.5rem;
  }

  a{
    text-decoration: none;
    color: var(--primary);
  }

  button{
    border:none;
    background-color:rgba(255,255,255);
    color:var(--primary);
  }

  button:hover{
    cursor: pointer;
  }

.username{
    color:var(--secondary-text);
  }

  .messages{
    color:var(--secondary-text);
  }

.home-button{
    display: block;
    padding-top:2px;
}

/**
*Dropdown Menus
**/

.dropdown_screenshot{
  padding-bottom:20px;
}

.dropdown {
  float: left;
  overflow: hidden;
  line-height: 0.5rem;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 220;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--primary-text);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  text-decoration:underline
}

.dropdown:hover .dropdown-content {
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
}

.dropdown ul{
  list-style: none;
  margin:0;
  padding:10px 0 0 0;
}

.dropdown li{
  margin:0;
  padding:0;
  font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:1.1rem;
    color:var(--secondary-text);
}

.dropdown-card{
  border-left:1px solid var(--tertiary-text);
  padding:10px;
}

.dropdown-card a{
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  color:var(--secondary-text);
  padding:0;
  margin:0;
}

.dropdown a:hover{
  text-decoration: underline;
  color:var(--primary);
}

/**
*Hero
**/

.hero-header{
    max-width: 60%;
}

.hero-header__title{
    font-size:2.2em;
}

.game-buttons{
    display: inline-block;
    margin-right:3px;
    color:white;
    background-color: var(--primary);
    text-transform: uppercase;
    border-radius:5px;
    padding:5px 15px;
    font-size:.8rem;
}

.game-buttons__alt{
    color:var(--primary);
    background-color: white;
    border:1px solid var(--primary);
}

.button-group__hero{
    float:right;
    display: flex;
    flex: 0 1 auto;
}

/**
* Game Cards
**/

.hero-main{
    padding-top:2rem;
}

.card-grid{
    display: grid;
    grid-template-columns: 230px 230px 230px;
    gap:15px;
}

.game-card{
    box-shadow: 5px 10px 10px 5px var(--tertiary-text);
    padding:0.5rem;
    border-radius: 10px;
}

.game-card__title{
    font-size:1rem;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    color:var(--primary);
    line-height:1.5rem;
    margin:0;
}

.game-card p{
    margin:5px 0;
}

.game-card__button{
    padding:10px 15px;
}

/**
* Hero Aside
**/

.hero-aside{
    width:360px;}

.profile-card{
    display:grid;
    grid-template-columns: 80px auto;
    gap:15px;
}

.profile-card__info p{
    margin:0;
    line-height: 1.5rem;
}

.side__twitter-link{
    background-color: var(--secondary);
    padding:10px;
    font-size:1.25rem;
}

.side__twitter-link a{
    color:white;
    text-decoration: none;
}

.aside__greeting{
    box-sizing: border-box;
    background: var(--light-grey);
    font-size:1.9rem;
    padding:10px;
}

.username{
    font-weight:bold;
}

/**
* Homepage Marketplace Sections
**/

  .marketplace-card{
    background-color: var(--light-grey);
    padding:0;
  }

  .marketplace-card__info{
    padding: 0 1rem;
  }

  .adventure-title{
    color:var(--secondary-text);
    font-weight:bold;
  }

  .price{
    color: var(--primary-text);
    font-weight: 900;
    font-size: 1.25rem;
  }

  .price__sale{
    color: var(--green);
    font-weight: 900;
    font-size: 1.25rem;
  }

  .marketplace-button{
    text-align: right;
    font-size:1rem;
  }

  .marketplace-button a{
    color: var(--primary);
  }

  .marketplace{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .marketplace-container{
    border-bottom: solid 1px var(--secondary-text);
    padding:1rem;
    margin:1rem;
  }

  /**
  *Footer Styles
  **/

  .line__long{
    border-bottom: 4px solid var(--tertiary-text);
    margin: 20px 0;
  }

  footer{
    padding:10px;
  }

  .footer-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .footer-social{
    display:flex;
    margin:0;
    list-style: none;
  }

  .social-icon{
    flex: 0 1 auto;
    padding: 0.5rem;
  }