:root {
    --primary: #e10085;
    --primary-text: #1e1512;
    --secondary: #702c91;
    --secondary-text: #625b65;
    --blue: #0b7bb8;
    --green: #00853c;
    --red: #da1c17;
    --yellow: #ffab00;
    --tertiary-text: #a5a1a7;
  }
  
html {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color:var(--primary-text);
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    padding: 0 20px;
}

img{
max-width: 100%;
}

p{
font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    color:var(--secondary-text);
}

h1{
    font-size:3rem;
    font-style: normal;
    font-weight: 900;
}

h2{
    font-size:2.75rem;
    font-style: normal;
    font-weight: 900;
}

.component{
    border:5px solid var(--tertiary-text);
    margin:10px;
    padding: 0 10px;
}

.component__name{
    padding-bottom:10px;
    border-bottom:2px solid var(--tertiary-text);
}

.component__code{
    border-top:2px solid var(--tertiary-text);
}