<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Components | Roll20</title>
        <link href="../css/normalize.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/hhr6gvq.css">
    </head>

    <body class="component-page">
        <img src="img/roll20-logo.png" alt="roll20 logo">

        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">

            <h3 class="component__name">header type</h3>

            <img src="img/heading-type.JPG" alt="heading type image" style="width: 400px;">

            <div class="component__code">
                <h2>
                Upcoming Games
                </h2>
            </div>
        </article>

        <article class="component">

            <h3 class="component__name">body type</h3>

            <img src="img/body-copy.JPG" alt="body copy image" style="width: 400px;">

            <div class="component__code">
                <p>
                    The Roll20 team is dedicated to enabling gamers to unite across any distance via our easy-to-use gaming tools. This means we strive to lessen the technical burden on the participants, facilitate the formation of new gaming groups, and to make barriers to entry as few as possible when gathering around a table for camaraderie. To accomplish these goals we seek to create a service that is sustainable and will be a resource to the gaming community as long as it is needed.
                </p>
            </div>
        </article>

        <article class="component">

            <h3 class="component__name">navigation</h3>

            <img src="img/header.JPG" alt="header screenshot">

            <div class="component__code">
                <header class="navbar">
                    <div class="container">
                
                      <h1 class="site-name">
                        <a href="#!"><img src="img/header_logo.JPG" alt="Roll 20 Logo"></a>
                      </h1>
                      
                      <nav>
                        <ul class="nav-list">
                            <li class="nav-list__item">
                                <a href="#!">Home</a>
                            </li>
                    
                            <li class="nav-list__item">
                                <a href="#!">Games v</a>
                            </li>

                            <li class="nav-list__item">
                                <a href="#!">Marketplace v</a>
                            </li>
                    
                            <li class="nav-list__item">
                                <a href="#!">Tools v</a>
                            </li>

                            <li class="nav-list__item">
                                <a href="#!">Community v</a>
                            </li>
                        </ul>
                        
                        <ul class="nav-list">
                            <li class="nav-list__item">
                                <a href="#!">Bell</a>
                            </li>

                            <li class="nav-list__item">
                                <a href="#!">Mail</a>
                            </li>

                            <li class="nav-list__item">
                                <a href="#!">U.Name v</a>
                            </li>
                        </ul>
                      </nav>
                    </div>
                  </header>
            </div>
        </article>


    </body>
</html>