<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Components | Roll20</title>
        <link href="../css/normalize.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/hhr6gvq.css">
        <script src="https://kit.fontawesome.com/cdf2167678.js" crossorigin="anonymous"></script>
    </head>

    <body class="component-page">
        <img src="img/roll20-logo.png" alt="roll20 logo">

        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">

            <h3 class="component__name">header type</h3>

            <img src="img/heading-type.JPG" alt="heading type image" style="width: 400px;">

            <div class="component__code">
                <h2>
                Upcoming Games
                </h2>
            </div>
        </article>

        <article class="component">

            <h3 class="component__name">body type</h3>

            <img src="img/body-copy.JPG" alt="body copy image" style="width: 400px;">

            <div class="component__code">
                <p>
                    The Roll20 team is dedicated to enabling gamers to unite across any distance via our easy-to-use gaming tools. This means we strive to lessen the technical burden on the participants, facilitate the formation of new gaming groups, and to make barriers to entry as few as possible when gathering around a table for camaraderie. To accomplish these goals we seek to create a service that is sustainable and will be a resource to the gaming community as long as it is needed.
                </p>
            </div>
        </article>

        <article class="component">

            <h3 class="component__name">navigation</h3>

            <img src="img/header.JPG" alt="header screenshot">

            <div class="component__code">
                <header class="navbar">
                    <div class="container">
                
                      <h1 class="site-name">
                        <a href="#!"><img src="img/header_logo.JPG" alt="Roll 20 Logo"></a>
                      </h1>
                      
                      <nav>
                        <ul class="nav-list">
                            <li class="nav-list__item">
                                <a href="#!" class="home-button">Home</a>
                            </li>
                    
                            <li class="nav-list__item">
                                <a href="#!">Games</a>
                                <button><i class="fa-sharp fa-solid fa-caret-down"></i></button>
                            </li>

                            <li class="nav-list__item">
                                <a href="#!">Marketplace</a>
                                <button><i class="fa-sharp fa-solid fa-caret-down"></i></button>
                            </li>
                    
                            <li class="nav-list__item">
                                <a href="#!">Tools</a>
                                <button><i class="fa-sharp fa-solid fa-caret-down"></i></button>
                            </li>

                            <li class="nav-list__item">
                                <a href="#!">Community</a>
                                <button><i class="fa-sharp fa-solid fa-caret-down"></i></button>
                            </li>
                        </ul>
                        
                        <ul class="nav-list">
                            <li class="nav-list__item">
                                <a href="#!"><i class="fa-solid fa-bell"></i></a>
                            </li>

                            <li class="nav-list__item">
                                <a href="#!" class="messages"><i class="fa-sharp fa-solid fa-envelope"></i></a>
                            </li>

                            <li class="nav-list__item">
                                <a href="#!" class="username">U.Name</a>
                                <button class="username"><i class="fa-sharp fa-solid fa-caret-down"></i></button>
                            </li>
                        </ul>
                      </nav>
                    </div>
                  </header>
            </div>
        </article>

        <article class="component">

            <h3 class="component__name">hero section</h3>

            <img src="img/homepage_hero.JPG" alt="hero section screenshot">

            <div class="component__code">
                
            </div>
        </article>

        <article class="component">

            <h3 class="component__name">hero section header</h3>

            <img src="img/hero-header.JPG" alt="hero section header screenshot">

            <div class="component__code">
                <div class="hero-header">
                    <div class="button-group__hero">
                        <p><a href="#!" class="game-buttons">Create New Game</a></p>
                        <p><a href="#!" class="game-buttons">Join A Game</a></p>
                        <p><a href="#!" class="game-buttons game-buttons__alt">Custom Sheet Sandbox</a></p>
                    </div>
                    
                    <h2 class="hero-header__title">Upcoming Games</h2>
                </div>
                <div class="line"></div>
            </div>
        </article>

        <article class="component">

            <h3 class="component__name">hero section main</h3>

            <img src="img/hero-cards.JPG" alt="hero section main screenshot">

            <div class="component__code">
                <div class="hero-main">
                    <div class="card-grid">
                        <div class="game-card">
                            <img src="../images/thumbnails/wild-beyond-thumb.JPG" alt="game cover" class="game-card__thumb">
                            <h3 class="game-card__title">Wild Beyond the Witchlight</h3>
                            <p>Next Game</p>
                            <p>Not Scheduled</p>
                            <p><a href="#!">Launch Game</a></p>
                        </div>

                        <div class="game-card">
                            <img src="../images/thumbnails/wild-beyond-thumb.JPG" alt="game cover" class="game-card__thumb">
                            <h3 class="game-card__title">Curse of Strahd</h3>
                            <p>Next Game</p>
                            <p>Not Scheduled</p>
                            <p><a href="#!">Launch Game</a></p>
                        </div>

                        <div class="game-card">
                            <img src="../images/thumbnails/wild-beyond-thumb.JPG" alt="game cover" class="game-card__thumb">
                            <h3 class="game-card__title">Rime of the Frostmaiden - Icewind Dale</h3>
                            <p>Next Game</p>
                            <p>Not Scheduled</p>
                            <p><a href="#!">Launch Game</a></p>
                        </div>

                        <div class="game-card">
                            <img src="../images/thumbnails/wild-beyond-thumb.JPG" alt="game cover" class="game-card__thumb">
                            <h3 class="game-card__title">The Quiet Year</h3>
                            <p>Next Game</p>
                            <p>Not Scheduled</p>
                            <p><a href="#!">Launch Game</a></p>
                        </div>

                        <div class="game-card">
                            <img src="../images/thumbnails/wild-beyond-thumb.JPG" alt="game cover" class="game-card__thumb">
                            <h3 class="game-card__title">Claus for Concern (Holiday One Shot)</h3>
                            <p>Next Game</p>
                            <p>Not Scheduled</p>
                            <p><a href="#!">Launch Game</a></p>
                        </div>

                        <div class="game-card">
                            <img src="../images/thumbnails/wild-beyond-thumb.JPG" alt="game cover" class="game-card__thumb">
                            <h3 class="game-card__title">Waterdeep: Dragon Heist</h3>
                            <p>Next Game</p>
                            <p>Not Scheduled</p>
                            <p><a href="#!">Launch Game</a></p>
                        </div>
                    </div>
                    
                    <p><a href="#!" class="game-buttons game-card__button">View All Games</a></p>
                </div>
            </div>
        </article>

        <article class="component">

            <h3 class="component__name">hero section aside</h3>

            <img src="img/hero-aside.JPG" alt="hero section aside screenshot">

            <div class="component__code">
                <div class="hero-aside">
                    <div class="profile-card">
                        <img src="../images/thumbnails/profile.JPG" alt="profile image" class="profile-photo">
                        <div class="profile-card__info">
                            <p class="username">Display Name</p>
                            <p>Pro | <a href="#!">Manage Subscription</a></p>
                            <p><a href="#!">Help Center</a></p>
                            <p>Member Since: 03/08/20</p>
                            <p>Hours Played: 1279</p>
                        </div>
                    </div>

                    <h2 class="aside__greeting">We're glad you're here!</h2>

                    <p>
                        <a href="#!">
                            <img src="../images/ads/square-ad1.JPG" alt="advertisement block" class="square-ad">
                        </a>
                    </p>

                    <p>
                        <a href="#!">
                            <img src="../images/ads/roll20-reserve-ad.JPG" alt="advertisement block" class="square-ad">
                        </a>
                    </p>

                    <p class="side__twitter-link"><a href="#!"><i class="fa-brands fa-twitter"></i> Follow @roll20app on Twitter</a></p>
                </div>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">homepage marketplace sections</h3>

            <img src="img/homepage_sales.JPG" alt="homepage marketplace screenshot">

            <div class="component__code">    
            
                <div class="marketplace-container">
                    <h2>Free Starter Adventures</h2>
                    <div class="line"></div>
                
                    <div class="marketplace">
                        <div class="marketplace-card">
                            <a href="#!">
                                <img class="marketplace-card__cover" src="img/img1.png" alt="game cover">
                                <div class="marketplace-card__info">
                                    <p class="publisher-name">Wizards of the Coast</p>
                                    <p class="adventure-title">Adventure Preview - Explorer's Guide to Wildemount</p>
                                    <p class="price">Free</p>
                                </div>
                            </a>
                        </div>
                
                        <div class="marketplace-card">
                            <a href="#!">
                                <img class="marketplace-card__cover" src="img/img2.png" alt="game cover">
                                <div class="marketplace-card__info">
                                    <p class="publisher-name">Kobold Press</p>
                                    <p class="adventure-title">Scarlet Citadel: Dwarven Barracks</p>
                                    <p class="price">Free</p>
                                </div>
                            </a>
                        </div>
                    
                        <div class="marketplace-card">
                            <a href="#!">
                                <img class="marketplace-card__cover" src="img/img3.png" alt="game cover">
                                <div class="marketplace-card__info">
                                    <p class="publisher-name">Evil Genius Productions</p>
                                    <p class="adventure-title">Everyday Heroes Quickstart Guide</p>
                                    <p class="price">Free</p>
                                </div>
                            </a>
                        </div>
                
                        <div class="marketplace-card">
                            <a href="#!">
                                <img class="marketplace-card__cover" src="img/img4.png" alt="game cover">
                                <div class="marketplace-card__info">
                                    <p class="publisher-name">Paizo</p>
                                    <p class="adventure-title">Kingmaker Adventure Path - Chapter 1 Preview</p>
                                    <p class="price">Free</p>
                                </div>
                            </a>
                        </div>
                    </div>
                
                    <p class="marketplace-button">
                        <a href="#!">
                            Discover Everything <i class="fa-sharp fa-solid fa-angles-right"></i>
                        </a>
                    </p>
                </div>
            </div>

            <div class="marketplace-container">
                <h2>Most Popular D&D Content</h2>
                <div class="line"></div>
            
                <div class="marketplace">
                    <div class="marketplace-card">
                        <a href="#!">
                            <img class="marketplace-card__cover" src="img/img1.png" alt="game cover">
                            <div class="marketplace-card__info">
                                <p class="publisher-name">Wizards of the Coast</p>
                                <p class="adventure-title">Adventure Preview - Explorer's Guide to Wildemount</p>
                                <p class="price">Free</p>
                            </div>
                        </a>
                    </div>
            
                    <div class="marketplace-card">
                        <a href="#!">
                            <img class="marketplace-card__cover" src="img/img2.png" alt="game cover">
                            <div class="marketplace-card__info">
                                <p class="publisher-name">Kobold Press</p>
                                <p class="adventure-title">Scarlet Citadel: Dwarven Barracks</p>
                                <p class="price">Free</p>
                            </div>
                        </a>
                    </div>
                
                    <div class="marketplace-card">
                        <a href="#!">
                            <img class="marketplace-card__cover" src="img/img3.png" alt="game cover">
                            <div class="marketplace-card__info">
                                <p class="publisher-name">Evil Genius Productions</p>
                                <p class="adventure-title">Everyday Heroes Quickstart Guide</p>
                                <p class="price">Free</p>
                            </div>
                        </a>
                    </div>
            
                    <div class="marketplace-card">
                        <a href="#!">
                            <img class="marketplace-card__cover" src="img/img4.png" alt="game cover">
                            <div class="marketplace-card__info">
                                <p class="publisher-name">Paizo</p>
                                <p class="adventure-title">Kingmaker Adventure Path - Chapter 1 Preview</p>
                                <p class="price">Free</p>
                            </div>
                        </a>
                    </div>
                </div>
            
                <p class="marketplace-button">
                    <a href="#!">
                        Discover Everything <i class="fa-sharp fa-solid fa-angles-right"></i>
                    </a>
                </p>
            </div>
        </div>
        </article>

    </body>
</html>