<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Roll20</title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>

<h1>Web Components</h1>

<h2>Typography Defaults</h2>

<h3>body</h3>

<img src="img/homepage_hero.JPG" alt="hero section">
<img src="img/productpage_info.JPG" alt="body copy on product page">

</body>

</html>